td {
	font: normal 13px/17px Arial;
	color: #ffffff;
}

.title {
	font-size: 15px;
}

.legend {
	font: normal 15px/20px Arial;
}

.fineprint {
	font: italic 10px/17px Arial;
}

a {
	color: #ff0000;
}

/*
     FILE ARCHIVED ON 00:08:54 Aug 28, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:21:45 Jun 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.561
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 2241.725
  LoadShardBlock: 579.669 (3)
  PetaboxLoader3.resolve: 591.865 (3)
  PetaboxLoader3.datanode: 147.894 (4)
  load_resource: 249.956
*/