body {
    backdrop-filter: blur(6px);
  
    background-size: 100vw; 
    background-position: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden; /* Hide scrollbars */
}
#indexBg {
    background-color: #fff;
    border-bottom: 2px solid #997e7e;
    border-left: 2px solid #997e7e;
    border-right: 2px solid #997e7e;
    box-shadow: 0px 0px 10px #0000007e;
    width: 920px;
    height: 100vh;
    margin: auto;


    
}
@media (max-width:640px) {

    #indexBg {
        width: 85%
    }
    .lfLogo{
        width: 90%;
    }
   
}

