
.caption { font-size: 8pt }
.quote { background-color: #000 }
.textbox { margin-right: 10px; margin-left: 10px }
a { text-decoration: none }
body { color: #fff; font-size: 10pt; font-family: Verdana, Arial, Helvetica, Sans-Serif }
h1 { color: #ede; font-weight: bold; font-size: 13pt; font-family: Verdana, Arial, Helvetica, Sans-Serif }
h2 { color: #ede; font-style: italic; font-weight: bold; font-size: 11pt; font-family: Verdana, Arial, Helvetica, Sans-Serif; text-align: center }
h3 { color: #ede; font-weight: bold; font-size: 11pt; font-family: Verdana, Arial, Helvetica, Sans-Serif }
td { color: #fff; font-size: 10pt; font-family: Verdana, Arial, Helvetica, Sans-Serif }
