font.visitor {
	color: #FF00FF;
	font: normal 18px Arial, san-serif;
}

font.mainText {
	color: #FFFF00;
	font: normal 11px/18px Arial, san-serif;
}

a.mainText {
	color: #FF6600;
	font: normal 11px/18px Arial, san-serif;
}

font.bigIntro {
	color: #66FF00;
	font: normal 21px/18px Arial, san-serif;
}

font.introText {
	color: #009900;
	font: normal 14px/18px Arial, san-serif;
}

font.scanText {
	color: #0066FF;
	font: normal 14px/18px Arial, san-serif;
}

a.scanText {
	color: #66FF00;
	font: normal 14px/18px Arial, san-serif;
}

font.emulatorText {
	color: #CC00CC;
	font: normal 14px/18px Arial, san-serif;
}

font.emulatorTitle {
	color: #CC66CC;
	font: bold 18px/24px Arial, san-serif;
}

a.emulatorTitle {
	color: #CC66CC;
	font: bold 18px/24px Arial, san-serif;
}

a.emulatorText {
	color: #CC66CC;
	font: normal 14px/18px Arial, san-serif;
}
/*
     FILE ARCHIVED ON 04:53:19 Feb 08, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:33:16 May 24, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.658
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 8.013
  LoadShardBlock: 101.625 (3)
  PetaboxLoader3.datanode: 163.701 (4)
  load_resource: 313.505
  PetaboxLoader3.resolve: 75.608
*/