




/*
     FILE ARCHIVED ON 6:27:32 Jun 30, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 3:52:51 May 28, 2011.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
a:link,a:hover,a:active,a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.newsdate {
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
